@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900;1,100..900&display=swap");

body,
html,
#root {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  height: 100%;
  margin: 0;
  flex-direction: column;
}

nav {
  background-color: #030d0b !important;
  color: white;
}

.welcome {
  flex-grow: 1;
}

.navbar-nav,
nav-link,
.navbar-toggler {
  color: white;
  border-color: white;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}
